.single-post-item.sticky {
    border: 1px solid #edbc5a;
}

.single-post-item .post-meta span a {
    color: #b0b0b0;
}


.footer-area,
.footer-area-down {
    padding-top: 2rem
}




// unit testing 5 started
.single-post-item .post-content-wrapper {
    border: none;
}

.single-post-item .blog-post-tag .post-tag-list a {
    font-size: 18px;
    color: #000;
    border: 1px solid #efe1e1;
    background: #fff;
    padding: 5px 11px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.single-post-item .blog-post-tag .post-tag-list a:hover {
    color: #ffc107;
    background: transparent;
}

.single-post-item .blog-post-tag {
    border: 0;
}

.single-post-item .single-post-meta {
    gap: 32px;
    margin-top: 30px;
}

.single-post-item .single-post-meta.default {
    display: flex;
    justify-content: space-between;
}

.single-post-item .blog-post-cat,
.single-post-item .blog-post-tag {
    display: flex;
    gap: 1.5rem;
    align-items: start
}

.single-post-item .blog-post-tag span {
    font-family: unset;
    margin-right: 0;
    width: auto;
    font-size: unset;
}

.single-post-item .single-post-meta.default .blog-post-tag span {
    margin-right: 0;
    width: auto;
}

.post-cat-list {
    display: flex;
    flex-wrap: wrap;
    gap: 19px 13px
}

.post-cat-list a {
    font-size: 18px;
    color: #000;
    border: 1px solid #efe1e1;
    background: #fff;
    padding: 5px 11px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
}

.post-cat-list a:hover {
    color: #ffc107;
    background: transparent;
}


section.blog-area .row > div:first-child {
    padding-right: 3rem;
}

/* .page-id-1133 .page-area {
    padding-top: 5rem
}

.page-id-1134 .page-content h1, .page-id-1134 .page-content h2, .page-id-1134 .page-content h3, .page-id-1134 .page-content h4, .page-id-1134 .page-content h5,
.page-id-1134 .page-content h6 {
    color: #b0b0b0
} */

.page-id-1133, .page-id-1134 {
    background: #131313;
    padding-top: 5rem;
}