.single-post-item.sticky {
    border: 1px solid #edbc5a;
}

.single-post-item .post-meta span a {
    color: #b0b0b0;
}


.footer-area,
.footer-area-down {
    padding-top: 2rem
}




// unit testing 5 started
.single-post-item .post-content-wrapper {
    border: none;
}

.single-post-item .blog-post-tag .post-tag-list a {
    border: 0;
    padding: 0;
    color: #b0b0b0;
}

.single-post-item .blog-post-tag {
    border: 0;
}

.single-post-item .single-post-meta {
    gap: 32px;
}

.single-post-item .single-post-meta.default {
    display: flex;
    justify-content: space-between;
}

.single-post-item .blog-post-cat, .single-post-item .blog-post-tag {
    display:flex;
    gap: 1.5rem;
    align-items: start
}

.single-post-item .blog-post-tag span {
    margin-right: 0;
    width: 243px;
    background: red
}