.header-area-menu {
    justify-content: center !important;
    gap: 35px;
}

.header-area-menu-icon {
    margin: 0 !important;
}

.header-area-menu ul.main-menu {
    margin-left: 0;
}

.header-area-menu ul li {
    margin: 0;
}

ul.main-menu li.menu-item a {
    font-size: 16px;
}

#menu-testing-menu ul li::before {
    background-color: transparent;
}

ul.main-menu li.menu-item ul.submenu li:hover a {
    background-color: inherit;
    color: inherit;
}

ul.main-menu li.menu-item ul.submenu li a:hover {
    background: #edbc5a !important;
    color: #fff !important;
}

@media (min-width: 990.99px) {
    ul.main-menu li.menu-item:hover>ul.submenu {
        visibility: visible;
        top: 100%;
        opacity: 1;
        transform: scaleY(1);
    }

    ul.main-menu li.menu-item ul.submenu li ul.submenu {
        visibility: hidden;
        top: -1px;
        left: 100%;
        opacity: 0;
        transform: scaleY(1);
    }

    ul.main-menu li.menu-item ul.submenu li:hover>ul.submenu {
        visibility: visible;
        top: -1px;
        left: 100%;
        opacity: 1;
        transform: scaleY(1);
    }

    ul.submenu {
        visibility: hidden;
        opacity: 0;
        transform: scaleY(0);
        transition: all 0.3s ease;
        position: absolute;
    }

    ul.submenu li {
        position: relative;
    }
}