.page-breadcrumb-area.page-bg {
    padding: 215px 0 125px;
    background-color: #131313;
}

.single-post-item {
    border: 1px solid #444;

    .post-content-wrapper {
        padding: 40px;
    }

    .post-meta {
        .author-img {
            border: none;

            img {
                width: 37px;
                height: 37px;
                object-fit: cover;
                position: unset;
                border-radius: 50%;
            }
        }
    }
}

.basic-pagination.basic-pagination-2 {
    ul {
        display: flex;
        gap: 1rem;
    }
}

.widget {
    .wp-block-search__label {
        background-color: transparent;
        border-bottom: 1px solid #ffffff;
        height: 60px;
        width: 100%;
        color: #ffffff;
        font-size: 18px;
        font-weight: 500;
        padding: 25px 0;
    }
}

.wp-block-search {
    button {
        color: #ffffff;
        padding: 0 20px;
        position: relative;
        right: 0;
        background-color: #D9A14C;
        top: 0;
        height: auto;
        line-height: 0;
        border: 0;
        margin-left: 0 !important;
        transform: translate(0);
    }
}

.widget {
    .wp-block-latest-comments {
        margin-left: 20px;

        li a {
            color: #fff !important;
        }
    }

    // .widget .wp-block-latest-comments li a
    .wp-block-latest-posts {
        li a {
            color: #fff !important;
        }
    }
}


.widget_archive {
    ul {
        margin-left: 20px;
    }
}

nav.wp-calendar-nav {
    a {
        color: #fff;
    }
}

.widget.widget_categories ul li ul li:before,
.widget.widget_archive ul li ul li:before {
    float: none;
    position: absolute;
    top: 20px;
    left: -11px;
}


.widget_latest_post>ul li {
    display: block;
}

.widget_pages li.page_item_has_children ul.children li {
    position: relative;
}

.widget_pages li.page_item_has_children ul.children li::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    left: 0;
    float: none;
    position: absolute;
    top: 13px;
    left: -11px;
}

.widget_rss>* {
    color: #fff
}


.tagcloud a {
    font-size: 17px !important;
}

#menu-testing-menu ul li {
    position: relative;
}

#menu-testing-menu ul li::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    left: 0;
    float: none;
    position: absolute;
    top: 13px;
    left: -11px;
}

select#archives-dropdown--1 {
    appearance: none;
}

#monster-widget-placeholder-2 {
    position: relative;
}

#monster-widget-placeholder-2::after {
    content: "";
    position: absolute;
    right: 15px;
    bottom: 25px;
    width: 19px;
    height: 19px;
    z-index: 99;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23FFFFFF' d='M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
}