.post-content h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}


.post-comments-form form .contacts-message {
     display: unset; 
}

.has-pale-pink-background-color, .has-light-green-cyan-background-color {
    background-color: transparent !important;
}