.post-content h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}


.post-comments-form form .contacts-message {
    display: unset;
}

/* .has-pale-pink-background-color,
.has-light-green-cyan-background-color {
    background-color: transparent !important;
} */



.wp-block-group {
    padding: 0.44rem !important;
    margin-bottom: 10px;
    border: none;
    // background-color: transparent !important;
}

.wp-block-navigation__responsive-container-content ul {
    padding: 0;
    margin-bottom: 1rem;
}

.wp-block-post-template {
    padding-left: 0px !important;
}

footer.wp-block-latest-comments__comment-meta a {
    color: #b0b0b0;
}

.wp-block-latest-posts__list a {
    color: #b0b0b0 !important;
}

ul.wp-block-rss a {
    color: #b0b0b0 !important;
}

.wp-block-search__inside-wrapper {
    height: 45px;
}

.wp-block-social-links {
    margin-bottom: 1rem;
}

.wp-block-search__inside-wrapper input {
    height: inherit;
}

.wp-block-tag-cloud a {
    font-size: 1rem !important;
    margin: 0 0.5rem;
}

.has-background p {
    color: #000 !important;
    padding: 1rem;
}

.has-background {
    padding: 1rem 0 !important;
}

.wp-block-group.has-background p {
    color: #000;
    padding: 0 1rem;
}

p.has-large-font-size {
    line-height: 40px !important;
}

p.has-large-font-size+p {
    line-height: 45px !important;
    margin-top: 1rem;
}

.comments-box h1 {
    font-size: 28px !important;
}

.latest-comments ul {
    padding-left: 0 !important;
}

.post-content h1 {
    font-size: 40px;
}

.post-content h2 {
    font-size: 35px;
}

.post-content h3 {
    font-size: 32px;
}

.post-content h4 {
    font-size: 24px;
}


.post-content h5 {
    font-size: 20px;
}


.post-content h6 {
    font-size: 18px;
}


.widget_latest_post ul li {
    display: block;
}

.post-content ol>li {
    list-style: unset;
}

.post-content h3 {
    margin-top: 15px;
}

.single-post-item#post-1158 .post-content p {
    display: none !important
}

.single-post-item .post-title {
    margin-bottom: 0;
    font-size: 38px;
}

.single-post-item .post-content h2 {
    margin-top: 20px;
}

#post-8 .post-content h2 {
    font-size: 35px;
}

.single-post-item h1.wp-block-site-title {
    font-size: 34px
}

.single-post-item .wp-block-query-pagination {
    margin: 2rem 0;
}

.single-post-item .post-content {
    margin-top: 20px;
}


.single-post-item#post-1158 .post-content,
#post-1163 .post-content,
#post-568 .post-content,
#post-555 .post-content {
    margin-top: 0;
}

.single-post-item#post-587 .post-title {
    margin-bottom: 20px;
}

.single.single-post .single-post-item {
    border: 0;
}

.single.single-post .single-post-item .post-content-wrapper {
    padding: 0;
    padding-bottom: 1rem;
}

.single.single-post ul li .comments-box {
    display: flex;
    gap: 2rem;
    margin-top: 1rem
}

.single.single-post ul li .comments-box .comments-text {
    width: 100%
}

.single.single-post .comments-box .avatar-name {
    position: relative
}

.single.single-post .comments-box .avatar-name a.comment-reply-link {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 1px solid transparent;
    padding: 5px 24px;
    gap: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

.single.single-post .comments-box .avatar-name a.comment-reply-link:hover {
    background: #edbc5a;
}

.post-comments-form form label {
    color: #fff;
}

.single.single-post h2.wp-block-post-title {
    margin-top: 1rem
}


.single.single-post .wp-block-query-pagination {
    margin: 2rem 0;
}

.single.single-post .wp-block-post-featured-image {
    margin: 1rem 0 2rem
}

.single.single-post .wp-block-comment-template {
    border: 1px solid #fff;
    padding: 2rem !important;
}

.single.single-post .wp-block-group-is-layout-flex {
    padding: 0 !important
}

.single.single-post .wp-block-columns-is-layout-flex {
    gap: 1rem
}


.single.single-post .contacts-message {
    margin: 1rem 0
}

.single.single-post form label {
    color: #fff;
}

.single.single-post form textarea,
.single.single-post form input {
    background: #ddd;

}

.single.single-post #respond {
    margin-bottom: 2rem;
}

.wp-block-loginout {
    margin: 1rem 0;
}


.single-post-item .wp-block-calendar {
    padding: 2rem 0;
}

.single-post-item ul.wp-block-categories-list {
    padding-bottom: 2rem;
}

.single-post-item ol.wp-block-latest-comments {
    padding: 2rem 0;
}


.single-post-item #respond form .col-xl-6 {
    margin-bottom: 1rem;
}

.post-navigation a {
    word-break: break-all !important;
}


.single-post-item .blog-post-cat span {
    // font-family: "Gilroy-Bold";
    font-size: unset;
    font-style: normal;
    font-weight: 400;
    color: #b0b0b0;
    margin-bottom: 0;
    line-height: 24px;
}

.wp-block-search {
    margin-top: -5px;
}

.widget .wp-block-search__label {
    height: auto;
    padding: 0 0 25px 0;
}

form.comment-form .col-xl-6 {
    margin-bottom: 1rem
}

.blog-post-nav .post-navigation {
    padding: 1rem 0;
}

.blog-post-nav .post-navigation:nth-child(3) {
    justify-content: end;
}

.blog-post-nav .post-navigation:nth-child(3) .text span {
    display: block;
    text-align: right;
}

.single-post .single-post-item {
    margin-bottom: 0;
}

.blog-coment-title {
    padding-top: 1.5rem
}

.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item figure {
    display: block
}

.wp-block-gallery:not(.has-nested-images) .blocks-gallery-item figure img {
    width: 100%
}

.blog-details-wrapper .single-post-item .post-title {
    margin-bottom: 20px;
    font-size: 48px;
}

.single-post-item h1 a {
    font-size: 68px;
    line-height: 78px;
    font-weight: 700;
}

.single-post-item h2 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}

.blog-details-wrapper .single-post-item .post-content p {
    margin: 20px 0;
}

.wp-block-comment-reply-link a {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 24px;
    margin-top: 9px
}

.wp-block-comment-reply-link a:hover {
    background: #edbc5a;
}

.wp-block-comments .wp-block-comment-template li .wp-block-columns .wp-block-comment-author-name a {
    font-size: 21px;
    margin-bottom: 5px;
    font-weight: 500;
    font-family: "Rajdhani", sans-serif;
}

ul.wp-block-rss.wp-block-rss {
    padding-bottom: 20px
}

.single-post-item.post-1786 .post-meta {
    padding-top: 20px
}