.post-content h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}


.post-comments-form form .contacts-message {
    display: unset;
}

/* .has-pale-pink-background-color,
.has-light-green-cyan-background-color {
    background-color: transparent !important;
} */



.wp-block-group {
    padding: 0.44rem !important;
    margin-bottom: 10px;
    border: none;
    // background-color: transparent !important;
}

.wp-block-navigation__responsive-container-content ul {
    padding: 0;
    margin-bottom: 1rem;
}

.wp-block-post-template {
    padding-left: 0px !important;
}

footer.wp-block-latest-comments__comment-meta a {
    color: #b0b0b0;
}

.wp-block-latest-posts__list a {
    color: #b0b0b0 !important;
}

ul.wp-block-rss a {
    color: #b0b0b0 !important;
}

.wp-block-search__inside-wrapper {
    height: 45px;
}

.wp-block-social-links {
    margin-bottom: 1rem;
}

.wp-block-search__inside-wrapper input {
    height: inherit;
}

.wp-block-tag-cloud a {
    font-size: 1rem !important;
    margin: 0 0.5rem;
}

.has-pale-cyan-blue-background-color {
    background-color: transparent !important;
}

.has-background {
    padding: 1rem 0 !important;
}

.has-background p {
    color: #000;
    padding: 0 1rem;
}

p.has-large-font-size {
    line-height: 40px !important;
}

p.has-large-font-size+p {
    line-height: 45px !important;
    margin-top: 1rem;
}

.comments-box h1 {
    font-size: 28px !important;
}

.latest-comments ul {
    padding-left: 0 !important;
}


.widget_latest_post ul li {
    display: block;
}

.post-content ol > li {
    list-style: unset;
}

.post-content h3 {
    margin-top: 15px;
}

.single-post-item#post-1158 .post-content p {
    display: none !important
}

.single-post-item .post-title {
    margin-bottom: 0;
}

.single-post-item .post-content {
    margin-top: 20px;
}


.single-post-item#post-1158 .post-content, #post-1163 .post-content, #post-568 .post-content, #post-555 .post-content {
    margin-top: 0;
}

.single-post-item#post-587 .post-title {
    margin-bottom: 20px;
}


.single.single-post .single-post-item {
    border: 0;
}

.single.single-post .single-post-item .post-content-wrapper {
    padding: 0;
    padding-bottom: 1rem;
}

.single.single-post ul li:first-child .comments-box {
    display: flex;
    gap: 2rem;
}

.single.single-post .comments-box .avatar-name {
    position: relative
}

.single.single-post .comments-box .avatar-name a.comment-reply-link {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    border: 1px solid transparent;
    padding: 5px 24px;
    gap: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

.single.single-post .comments-box .avatar-name a.comment-reply-link:hover {
    background: #edbc5a;
}

.post-comments-form form label {
    color: #fff;
}
