.contact-page {
  &-info {
    margin-top: 56px;
    @include sm {
      margin-top: 0;
    }
  }
  h4 {
    color: #fff;
    font-family: Gilroy-Regular;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2px;
    @include md {
      font-size: 21px;
    }
    @include sm {
      font-size: 21px;
    }
  }
  .company-map {
    span {
      iframe {
        @include sm {
          height: 250px;
        }
      }
    }
  }
}
.contact-card {
  border-bottom: 1px solid $white;
}
.contact-us-area {
  .section-title {
    @include sm {
      padding-bottom: 0;
    }
    @include md {
      flex-direction: column;
      gap: 0;
      padding-bottom: 0;
    }
  }
  .contact-form {
    .form-heading {
      @include rmaxwd(991) {
        margin-bottom: 30px;
      }
    }
  }
  .contact-card-wrapper {
    @include rmaxwd(991) {
      margin-left: 0;
    }
    .contact-card {
      @include sm {
        margin-top: 0;
        margin-bottom: 30px;
        padding-bottom: 30px;
      }
      @include md {
        margin-top: 30px;
      }
    }
  }
}
